<?xml version='1.0' encoding='utf-8'?>
<widget android-packageName="dk.appvice.outch" id="dk.appvice.outch" ios-CFBundleIdentifier="dk.appvice.outch" version="0.0.53" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GeoGames</name>
    <description>
        Lets go outside
    </description>
    <author email="mads@appvice.dk" href="http://appvice.dk">
        Mads Kessel
    </author>
    <content src="index.html" />
    <preference name="target-device" value="handset" />
    <preference name="webviewbounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="res/icon.png" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <gap:config-file mode="add" parent="ITSAppUsesNonExemptEncryption" platform="ios" target="*-Info.plist">
            <false />
        </gap:config-file>
    </platform>
    <platform name="android">
    </platform>
    <platform name="ios">
        <icon gap:platform="ios" src="res/icon.png" width="1024" height="1024" />
        <!-- Icon-App-512x512@2x.png-->
        <icon gap:platform="ios" height="180" src="res/icon/ios/Icon-App-60x60@3x.png" width="180" />
        <icon gap:platform="ios" height="60" src="res/icon/ios/Icon-App-60x60@1x.png" width="60" />
        <icon gap:platform="ios" height="120" src="res/icon/ios/Icon-App-60x60@2x.png" width="120" />
        <icon gap:platform="ios" height="76" src="res/icon/ios/Icon-App-76x76@1x.png" width="76" />
        <icon gap:platform="ios" height="152" src="res/icon/ios/Icon-App-76x76@2x.png" width="152" />
        <icon gap:platform="ios" height="29" src="res/icon/ios/Icon-App-29x29@1x.png" width="29" />
        <icon gap:platform="ios" height="58" src="res/icon/ios/Icon-App-29x29@2x.png" width="58" />
        <icon gap:platform="ios" height="40" src="res/icon/ios/Icon-App-40x40@1x.png" width="40" />
        <icon gap:platform="ios" height="80" src="res/icon/ios/Icon-App-40x40@2x.png" width="80" />
        <icon gap:platform="ios" height="57" src="res/icon/ios/Icon-App-57x57@1x.png" width="57" />
        <icon gap:platform="ios" height="114" src="res/icon/ios/Icon-App-57x57@2x.png" width="114" />
        <icon gap:platform="ios" height="72" src="res/icon/ios/Icon-App-72x72@1x.png" width="72" />
        <icon gap:platform="ios" height="144" src="res/icon/ios/Icon-App-72x72@2x.png" width="144" />
        <icon gap:platform="ios" height="50" src="res/icon/ios/Icon-App-50x50@1x.png" width="50" />
        <icon gap:platform="ios" height="100" src="res/icon/ios/Icon-App-50x50@2x.png" width="100" />
    </platform>
    <engine name="android" spec="^6.2.3" />
    <plugin name="com.manueldeveloper.volume-buttons" spec="https://github.com/manueldeveloper/cordova-plugin-volume-buttons.git" />
    <plugin name="cordova-plugin-device" spec="~1.1.6" />
    <plugin name="cordova-plugin-device-motion" spec="~1.2.5" />
    <plugin name="cordova-plugin-device-orientation" spec="~1.0.7" />
    <plugin name="cordova-plugin-geolocation" spec="https://github.com/Kezzel/cordova-plugin-geolocation.git" />
    <plugin name="cordova-plugin-is-debug" spec="^1.0.0" />
    <plugin name="cordova-plugin-vibration" spec="~2.1.5" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
</widget>
