<?xml version='1.0' encoding='utf-8'?>
<widget android-packageName="dk.appvice.outch" id="dk.appvice.outch" ios-CFBundleIdentifier="dk.appvice.outch" version="0.0.36" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GeoGames</name>
    <description>
        Lets go outside
    </description>
    <author email="mads@appvice.dk" href="http://appvice.dk">
        Mads Kessel
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <!-- Added following to tell apple that we are not using encryption, otherwise, they will ask every single time:-) TODO: it is not tested to work yet -->
    <!-- ideas https://stackoverflow.com/questions/35798375/itsappusesnonexemptencryption-cordova-build -->
    <gap:config-file target="*-Info.plist" platform="ios" parent="ITSAppUsesNonExemptEncryption" mode="add">
      <false/>
    </gap:config-file>

    <platform name="android">
    </platform>
    <platform name="ios">
    </platform>
    <engine name="android" spec="^6.2.3" />
    <plugin name="com.manueldeveloper.volume-buttons" spec="https://github.com/manueldeveloper/cordova-plugin-volume-buttons.git" />
    <plugin name="cordova-plugin-device" spec="~1.1.6" />
    <plugin name="cordova-plugin-device-motion" spec="~1.2.5" />
    <plugin name="cordova-plugin-device-orientation" spec="~1.0.7" />
    <plugin name="cordova-plugin-geolocation" spec="~2.4.3" />
    <plugin name="cordova-plugin-vibration" spec="~2.1.5" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
</widget>
