

$white: #FFFFFF;
$grey: #C9C9C9;
$dark-grey: #5B6163;
$black: #000000;
$light-blue: #E4F3F8;
$blue: #0095BF;
$dark-blue: #1D3D59;
$dark-red: #BF0404;
$dark-green: #2C5E2E;
$dark-yellow: #FFCC00;

$yellow: $dark-yellow;
$main-text-color: #2b465d;
$background_blue: $light-blue;

$side-padding: 2.8rem; //used for content side padding
$top-padding: 1.2rem;
$border-width:.1rem;
$list-space:.4rem;

//blueish color used as border for inputs: #3092bc

/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html{
  width: 100%;
  height: 100%;
  //font-size:62.5%; //1 rem = 10px for default font size with 16px
  font-size:80%;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:Arial,'Open Sans Condensed','HelveticaNeue-Light', 'HelveticaNeue', Helvetica, sans-serif;
    font-size:1rem;
    height:100%;
    margin:0px;
    padding:0px;
    //text-transform:uppercase;
    width:100%;
}


@font-face {
    font-family: norwester;
    src: url(../fonts/norwester.otf);
}


.headline-font{
  font-size:4rem;
  font-family:'norwester'
}

.title-font{
  font-size:2rem;
  font-family:'norwester';
}

.subheader-font{
  font-size:1.5rem;
  font-family: 'norwester';
}

.subtitle-font{
  font-size:1.0rem;
  font-family: 'norwester';
}

.button-font{
  font-size:2rem;
  font-family:'norwester';
}

.large-body-font{
  font-size:1.4rem;
  font-family:Arial;
}

.body-font{
  font-size:1.0rem;
  font-family:Arial;
}






/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

/**
 * Our default styling of objects
 */
#front{
  /*background-color:#FFF;*/
  width:100vw;
  height:100vh;
  box-sizing:border-box;
  text-align:center;
  overflow-y: scroll;
  .game{
    width:100%;
    //border-top:1px solid rgb(100,100,100);
    //border-bottom:1px solid rgb(100,100,100);
    //padding:1em;
    box-sizing:border-box;

    //description
    p{
      padding: $top-padding $side-padding;
      @extend .large-body-font;
      background: $white;
      min-height:8rem;
      text-align:left;
    }

    h2 {
      padding: 0 $side-padding;
      color:$grey;
      @extend .subtitle-font;
      line-height:3em;
      text-align:left;
    }

    .instance{
      width:100%;
      background:$white;
      position:relative;

      padding:$top-padding $side-padding;
      box-sizing:border-box;
      margin-top:$list-space;
      text-align: left;

      .info{
        color:$blue;
        width:35vw;
        display:inline-block;
        @extend .subtitle-font;
        @include ellipsis();
      }
      h3{
        margin-top:$top-padding;
        @extend .title-font;
      }

      .join{
        position: absolute;
        right:$side-padding;
        top:50%;
        transform:translateY(-50%);

        color:$light-blue;
        @extend .title-font;
      }

      .stop{
        color:$light-blue;
      }
    }
  }
}


.page{
  position:absolute;
  top:0;
  left:0;
  /*background:#e7e4e6;*/
  width:100vw;
  height:100vh;
  text-align:center;

  /*vertical-align:middle;

  display:flex;
  align-items:center;
  justify-content:center;
  align-content:flex-start;
  flex-wrap:wrap;
  */
  display: flex;
  flex-direction: column;

  //color:#2b465d;

  .header{
    background: $black;

    @extend .title-font;

    min-height: 2.6em;//5.2rem; //padding is 1.6rem
    line-height: 2.6em;//5.2rem;
    color:$white;
    vertical-align:middle;
    position:relative;

    .title {

      //font-size:2em;
      //font-weight:bold;
      //line-height:2.6em; //padding 0.8rem
      display:inline-block;
    }

    .left {
      position:absolute;
      padding: 0 1em;
      left: 0;
      //font-size:2em;
      font-weight:bold;

    }

    .playerQuality{
      position:absolute;
      right:1em;
      top:50%;
      transform:translateY(-50%);
    }
  }

  .inner{
    flex: 1 1 auto;
    /*flex: 1 0 auto; // use this to implement sticky footer
    */
    overflow-y: scroll;

    -webkit-overflow-scrolling: touch;

    /*background:#e7e4e6;*/
    background:$background_blue;

    vertical-align:middle;
    text-align:center;
    display:flex;
    align-items:start;
    justify-content:center;
    align-content:flex-start;
    flex-wrap:wrap;

    color:$main-text-color;

    .setting{
      width:100%;
      background:$white;
      margin-bottom:$list-space;
    }
  }

  .footer{

  }
}

.iOS7 .page .header{
  padding-top:20px;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

.mapPage .map_controls{
  background:rgba(0,0,0,0.5);
  width:100vw;

  @extend .title-font;

  min-height: 2.6em;//5.2rem; //padding is 1.6rem
  line-height: 2.6em;//5.2rem;
  color:$white;
  vertical-align:middle;
  position:relative;



  .playerQuality{
    position:absolute;
    right:1em;
    top:50%;
    transform:translateY(-50%);
  }
}

.playerQuality {
  svg{
    width:1em;
    height:1em;
    overflow: visible;

    display:block;



    * {
      fill:$dark-red;
      transition: fill 3s;
    }

    .good{
      color:$dark-green;
      fill:$dark-green;
    }
    .medium{
      color:$dark-yellow;
      fill:$dark-yellow;
    }
    /*.bad{
      color:red;
      fill:red;
    }*/
  }

}



button {
  @extend .button-font;

  width:80vw;
  margin:.8em 0;
  background: $blue;//#3092bc;
  border-radius:.5em;
  color:$white;
  border: 0;
  padding: .5em;
  //font: inherit;
  //font-weight: bold;
  //font-size: 1em;
}
button:active {
  //background: #2b465d;
}

button.bottom-button{
  width:100vw;
  border-radius:0;
  /*position:absolute;*/
  bottom:0;
  left:0;
  margin:0;
  padding:.8em;
  /*font-size:2em;*/
}

input {
  width:90vw;
  border:1px solid $blue;
  padding:5vw;
  margin-top:.5em;
  margin-bottom:.5em;
  border-radius:.5em;
  background:$white;
  boz-sizing:border-box;
  font: inherit;
  font-size: 1.5em;
}

.label{
  padding:0 $side-padding;
  display:block;
  text-align:left;
  margin:$top-padding 0;
  width:100%;
  @extend .subtitle-font;
  color: $dark-grey;
}
.list{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.listel{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* classic bar timer*/
.bartimer{
  width:100%;
  box-sizing:border-box;
  margin:1em 10vw;
  height:1em;
  display:inline-block;
  position:relative;
  background:white;
  border:1px solid black;
  border-radius:.5em;
  overflow: hidden;

  .bar{
    border-radius:.5em 0 0 .5em;
    position:absolute;
    height:100%;
    width:50%;
    left:0;
    top:0;
    background:linear-gradient(to right, #7db9e8 0%,#1e5799 100%);

    &.disabled{
      width:100%;
      background:$dark-grey;
    }
  }
}


/* version of the timerbar for bottom of headers */
.headerbartimer{
  position:absolute;
  bottom:0;
  margin:0;
  width:100%;
  left:0;
  height:2px;
  overflow:hidden;
  background:rgba(0,0,0,0.3);

  .bar{
    position:absolute;
    height:100%;
    right:0;
    top:0;
    overflow:visible !important;

    &:before{
      content:'';
      position:absolute;
      background:$blue;
      width:100vw;
      height:100%;
      right:100%;
    }
  }
}

.playerlist{
  background-color:$white;
  margin-bottom:$list-space;
  display:block;

  .list-header{
    width:100%;
    @extend .label;
  }

  .listel{
    width:auto;
    position:relative;
    text-align: left;
    //justify-content: left;
    display:block;
    margin:$top-padding $side-padding;

    @extend .subheader-font;

    /*&>*{
      margin:0 $side-padding;
    }*/

    i{
      //margin-left:$side-padding;
      margin-right:1em;
    }

    .name{

    }

    .playerQuality{
      position:absolute;
      right:0;//$side-padding;
      top:50%;
      transform:translateY(-50%);
    }
  }
}

//scoreboard
.scoreboard{
  .listel{
    width:100%;
  }
  .scoreboard-element{
    @extend .headline-font;

    .position{
      //font-size: 4rem; //40pt
      position: absolute;
      line-height: 100%;
      margin-left: 1rem;
      color:$black;
      &:after{
        content:'TH';
        font-size:.75em; //30pt
        vertical-align: text-top;
      }
    }
    background:$white;
    width:80vw;
    //height:3em;
    line-height:1.5em;
    margin:.2em 0;

    //font-size:1.6em;
    //font-weight:bold;


    .content{
      @extend .subheader-font;
    }

    &.me{
      border:$list-space solid $yellow;
      background:$blue;
      width:100%;
      .position{
        font-size:1.2em;
      }
    }
  }

  .listel{
    .position.r1:after{
      content:'ST';
    }
    .position.r2:after{
      content:'ND';
    }
    .position.r3:after{
      content:'RD';
    }

  }
}

.slider {
  //width:80vw;
  box-sizing:border-box;
  margin:$top-padding $side-padding;
  height:1rem;
  display:block;
  position:relative;
  background:$grey;
  background-position:0px 0px;

  @include background-image(linear-gradient(left, $blue 0%,$blue 50%,$grey 50%,$grey 100%));
  background-size: 200% 200%;
  background-position-x:100%;

  /*border:1px solid black;*/
  border-radius:.5em;
  .knob{
    width:2em;
    height:2em;
    border-radius:1em;
    /*border:1px solid black;*/
    position: absolute;
    margin-top: -0.5em;
    background: $blue;//#3092bc;
    /*background: radial-gradient(ellipse at center, #7db9e8 0%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    @include box-shadow(inset 1px 1px 2px 0px rgba(255,255,255,0.2), 0px 0px 1em 0px rgba(0,0,0,0.15));
  }
}


/**
 * To show modal dialogs with background
 */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* semi-transparent black  */
  background-color: rgba(0,0,0,0.75);
  z-index:999;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.modal .header{
  flex: 0 0 auto;

  width:80vw;
  @extend .title-font;

  background:$grey;//#3092bc;
  height:2.6em;
  border:$border-width solid $grey;
  //border-radius:1em 1em 0 0;
  color:$white;
  display:flex;
  align-items: center;
  justify-content: center;
}

.modal .body{
  flex: 0 1 auto;
  width:80vw;

  @extend .body-font;

  background:$white;
  min-height: 30vh;
  padding:1em;
  border:$border-width solid $grey;

  h2{
    @extend .subheader-font;
    color: $blue;
  }

  input{
    width:100%;
    border:1px solid $blue;
    border-radius:0;
  }
}

.modal .footer{
  flex: 0 0 auto;
  text-align:center;
  width:80vw;

  @extend .title-font;

  color:$white;
  background:$grey;
  height:2.6em;
  border:$border-width solid $grey;
  //border-radius:0 0 .8em .8em;
  display:flex;
  align-items: center;
  justify-content: center;
}

.iOS7 .map_controls{
  margin-top:20px;
}




/*Round timer*/
.roundtimer{
  position: relative;
  margin: auto;
  height: 1em;
  width: 1em;
  text-align: center;
  display: inline-block;
  vertical-align: middle;

  .roundtimer-content {
    color: $white;
    display: inline-block;
    line-height: 1em;
  }

  svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg) rotateZ(-90deg);
    circle {
      stroke-dasharray: 113;
      stroke-dashoffset: 0px;
      stroke-linecap: round;
      stroke-width: 2px;
      stroke: white;
      fill: none;
      animation: countdown 10s linear infinite forwards;
    }
  }
}

.longheadertimer{

}

.gamebar{
  @extend .setting;
  position:relative;

  .title{
    margin:1.6rem 0;
    color:$black;
    @extend .title-font;
  }

  .gameimage{
    height:5.2rem;
    width:5.2rem;
    position:absolute;
    left:0;
    top:0;
    background:url(../img/game_square.png);
  }
}
